.container {
  margin: 20px;
}
.form {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .form {
    width: 500px;
  }
}
label {
  padding-bottom: 5px;
  line-height: 2;
}
input {
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}
.btn-submit {
  background-color: #04BDD7;
  border-color: #04BDD7;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.btn-submit[disabled] {
  background-color: #333;
  border-color: #333;
  color:#666;
}
.error {
  color: red;
  font-size: 12px;
}
.error-list {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
.hide {
  display: none;
}
